<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quindrik's Torment</title>
    <link rel="stylesheet" href="static/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <h1>Quindrik's Torment</h1>
    <h2>AI-powered Wild Magic Effect Generator</h2>
    <div class="contentContainer">
        <div id="responseContainer">
            <h2 id="responseTitle">Generating</h2>
            <p id="responseDescription">Hold on a moment, something wild is happening...</p>
        </div>
        <button id="fetchData">New Effect</button>
    </div>
    <script src="static/script.js"></script>
</body>

</html>